[Unit]
Description=AxonMQ MQTT Broker
Documentation=https://github.com/letoille/AxonMQ/tree/main/docs
After=network.target

[Service]
User=axonmq
Group=axonmq
ExecStart=/usr/bin/axonmq --config-dir /etc/axonmq
WorkingDirectory=/var/lib/axonmq
Restart=on-failure
RestartSec=5s
NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target